[submodule ".registry"]
	path = .registry
	url = https://github.com/n8thangreen/n8thangreen.r-universe.dev
	branch = HEAD
[submodule "NMA"]
	path = NMA
	url = https://github.com/icon-in-r/NMA
[submodule "multimcm"]
	path = multimcm
	url = https://github.com/statisticshealtheconomics/multimcm
[submodule "simcovariates"]
	path = simcovariates
	url = https://github.com/n8thangreen/simcovariates
