[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BCEA"]
	path = BCEA
	url = https://github.com/n8thangreen/bcea
[submodule "voi"]
	path = voi
	url = https://github.com/chjackson/voi
	registered = false
